.Weather {
  border: 1px solid #c2c5c9;
  color: #e8eaed;
  border-radius: 12px;
  max-width: 600px;
  padding: 20px;
  margin: 15px auto;
  box-shadow: 0px 0px 5px #9aa0a6;
}

.Weather h1 {
  font-weight: 400;
  padding: 15px 5px;
  margin-top: 15px;
}

.Weather ul {
  padding: 5px;
  color: #9aa0a6;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
.Weather input {
  margin: 0 auto;
  font-size: 15px;
}

.Weather a {
  text-decoration: none;
}

.col-10,
.col-2 {
  padding: 6px;
}

#small {
  font-size: 14px;
}
#current-weather-img {
  margin-top: -40px;
  padding: 0;
  text-align: center;
  margin-right: 10px;
}
#temperature {
  text-align: center;
  display: inline;
  font-size: 64px;
  padding-top: 20px;
  margin-top: 40px;
  font-weight: 400;
  height: auto;
  line-height: 64px;
  margin-right: 6px;
}

#unit {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
  padding: 2px;
}

@media (max-width: 575px) {
  .Weather input {
    font-size: 12px;
    margin: 0px 2px;
  }
  .col-10,
  .col-2 {
    padding: 4px;
  }
}
